


body{
  background-color: #111;
  color:#eee;

  
}

#pr h2{
  text-align: center;
}

#pr ol li{
  text-align: center;

  font-size:20px;
}
#pr ol li:last-child{
  font-size: 30px;
  font-weight: bolder;
}

#pr button{
  position: fixed;
  bottom:80px;
  left:5%;
  font-size: 40px;
  width:90%;
  color:#111;
}

#ge table{
  width:100%;
  table-layout: fixed;
  border-collapse: collapse;
}
#ge thead th{
  transform: 
    /* Magic Numbers */
    translate(0px, 20px)
    /* 45 is really 360 - 45 */
    rotate(270deg);
    width:5px;
    height:100px;
}

#ge th, #ge td{
  border:1px solid #aaa;
}

#ge thead th:first-child{
    width:10px;
}

.front{
  margin:5%;

}

                
.link-button{
  display: block;
  width:80%;
  margin:5%;
  background-color: #eee;
  color:#111;
  padding:5%;
  border-radius: 5%;
}

.navigation{
  position: fixed;
  bottom: 0;
  border-top: 1px solid #eee;
  width:100%;
}

.navigation a{
  color:white;
  display: inline-block;
  width:50px;
  height:30px;
  border-right: 1px solid #eee;
  padding:15px;
}