


body{
  background-color: #111;
  color:#eee;

  
}

ol li{
  font-size:20px;
}
ol li:last-child{
  font-size: 30px;
  font-weight: bolder;
}

button{
  position: fixed;
  bottom:10px;
  left:5%;
  font-size: 40px;
  width:90%;
  color:#111;
}

.front{
  margin:5%;

}

                
.link-button{
  display: block;
  width:80%;
  margin:5%;
  background-color: #eee;
  color:#111;
  padding:5%;
  border-radius: 5%;
}

.navigation{
  position: fixed;
  bottom: 0;
  border-top: 1px solid #eee;
  width:100%;
}

.navigation a{
  color:white;
  display: inline-block;
  width:50px;
  height:30px;
  border-right: 1px solid #eee;
  padding:15px;
}